/* You can add global styles to this file, and also import other style files */

/*@import './purple-green.css';*/
@import './deeppurple-amber.css';

.main{
    height:100%;
    display:-ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
            align-content: stretch;
    div.content {
            position:relative;
            display:-ms-flexbox;
            display: flex;
            display: -webkit-flex;
            background:lightgreen;
            -webkit-flex: 1;
            -ms-flex:1;
                flex:1;
        }
}

.main-aria {
    position:relative;
    background:lightgreen;
    -webkit-flex: 1;
    -ms-flex:1;
        flex:1;
}