<div class="main-aria">
    <md-card class="auth">
        <md-toolbar color="primary">Авторизация</md-toolbar>
        <md-card-content>
            <md-input placeholder="Логин" style="width: 100%"></md-input>
            <md-input type="password" placeholder="Пароль" style="width: 100%"></md-input>
        </md-card-content>
        <md-card-actions style="text-align: center">
            <button md-raised-button color="primary" style="width: 50%; margin: 2 8;">Войти</button>
        </md-card-actions>
    </md-card>
</div>